html {
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  color: #1A1A1A;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #FFFFFF;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #1A1A1A;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #1A1A1A;
}

nav p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #477388;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-1 {
  min-height: 640px;
  padding-bottom: 25px;
  background-image: linear-gradient(-180deg, #D8D8D8 0%, #C3B0A1 100%);
}

.section-2 {
  background: #F3F1F4;
}

.section-3 {
  background-image: linear-gradient(-180deg, #477388 0%, #0D394E 100%);
}

@media screen and (orientation: landscape) {
  .section {
    min-width: 550px;
  }

  .section-1 {
    padding-bottom: 50px;
  }
}
.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  max-width: 500px;
  height: 65%;
  margin: 70px auto 25px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 0 30px;
}

@media screen and (orientation: landscape) {
  .title-container {
    flex-direction: row;
    justify-content: center;
    width: 80%;
    max-width: none;
    min-height: 680px;
    margin: 5px auto 0;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding: 0 0 100px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

@media screen and (orientation: landscape) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
  }
}
nav .logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  max-width: 70px;
  height: 100%;
}
nav .logo-wrapper h2 {
  margin: 0;
  padding: 0;
  color: #477388;
}
nav .logo-wrapper .line-1 {
  background-color: #477388;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
nav .logo-wrapper .line-2 {
  display: none;
}

@media only screen and (orientation: landscape) {
  nav {
    overflow: visible;
  }
  nav .logo-wrapper .line-1 {
    background-color: #477388;
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 110%;
    height: 1px;
  }
  nav .logo-wrapper .line-2 {
    display: inline;
    background-color: #477388;
    position: absolute;
    top: 15%;
    right: 0;
    width: 1px;
    height: 110%;
  }
}
nav .nav-button {
  margin-left: auto;
  padding: 0;
  margin-right: 5%;
  cursor: pointer;
}
nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  padding: 0;
  margin-right: -70%;
  list-style-type: none;
}
nav .nav-list li {
  padding: 0 5%;
  color: #477388;
}

@media screen and (orientation: landscape) {
  nav .nav-button {
    display: none;
  }
  nav .nav-list {
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    margin-right: 0;
    border-bottom: 1px solid #477388;
  }
  nav .nav-list li {
    padding: 0 7%;
    color: #477388;
  }
}
.title-container h1 {
  position: absolute;
  top: -9%;
  left: 5%;
  padding: 0;
  margin: 0;
  z-index: 1000;
}
.title-container .title-image {
  display: block;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}
.title-container .bubbles-1 {
  position: absolute;
  bottom: 15%;
  right: 10%;
  height: 10%;
}
.title-container h2 {
  position: absolute;
  align-self: center;
  bottom: 2%;
  margin: 0 auto;
}

@media screen and (orientation: landscape) {
  .title-container h1 {
    position: absolute;
    top: 2%;
    left: 0;
  }
  .title-container .title-image {
    display: block;
    width: auto;
    max-width: none;
    margin: 0;
  }
  .title-container .bubbles-1 {
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 13%;
    max-width: 170px;
    height: auto;
  }
  .title-container h2 {
    position: absolute;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
  }
}
.arrow {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 1s;
}

@media screen and (orientation: landscape) {
  .arrow {
    margin: 0 auto 0 50px;
  }
}
.content h3 {
  display: block;
  text-align: center;
  padding-top: 120px;
}
.content .line-3 {
  display: block;
  width: 70%;
  max-width: 300px;
  height: 1px;
  margin: 19px auto 33px;
  background-color: #477388;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card img {
  width: 100%;
}
.card p {
  text-align: center;
  padding: 3%;
}

@media screen and (orientation: landscape) {
  .card {
    width: 30%;
  }
}
.footer h3 {
  margin-top: 5%;
  color: #FFFFFF;
  font-weight: 400;
}
.footer p {
  color: #FFFFFF;
  font-weight: 400;
}
.footer .phone {
  margin-top: 5%;
}
.footer .address {
  margin: 5% 0;
}

@media screen and (orientation: landscape) {
  .footer h3 {
    margin-top: 0;
    text-align: center;
  }
  .footer .phone {
    margin-top: 0;
    text-align: center;
  }
  .footer .address {
    margin: 0;
    text-align: center;
  }
}
.bubbles-2 {
  align-self: flex-start;
  margin: 5% 0 0 5%;
}

.bubbles-3 {
  align-self: flex-end;
  margin: 0 5% 5% 0;
}

@media screen and (orientation: landscape) {
  .bubbles-2 {
    align-self: center;
    margin: 0;
  }

  .bubbles-3 {
    align-self: center;
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
