// main colors

$color-primary: #477388;
$color-secondary: #D6D4D2;
$color-text: #1A1A1A;
$color-text-alt: #FFFFFF;

// backgrounds

$color-bg-one: linear-gradient(-180deg, #D8D8D8 0%, #C3B0A1 100%);
$color-bg-two: #F3F1F4;
$color-bg-three: linear-gradient(-180deg, #477388 0%, #0D394E 100%);
