
.content {
  h3 {
    display: block;
    text-align: center;
    padding-top: 10%;
  }

  .line-3 {
    display: block;
    width: 70%;
    height: 1px;
    margin: 10% auto;
    background-color: $color-primary;
  }
}
