.footer {
  h3 {
    margin-top: 5%;
    color: $color-text-bright;
    font-weight: 400;
  }

  p {
    color: $color-text-bright;
    font-weight: 400;
  }

  .phone {
    margin-top: 5%;
  }

  .address {
    margin: 5% 0;
  }
}
@media screen and (orientation: landscape) {
  .footer {
    h3 {
      margin-top: 0;
      text-align: center;
    }

    .phone {
      margin-top: 0;
      text-align: center;
    }

    .address {
      margin: 0;
      text-align: center;
    }
  }
}
