.footer {

  h3 {
    margin-top: 5%;
    color: $color-text-bright;
  }

  p {
    color: $color-text-bright;
  }

  .phone {
    margin-top: 5%;
  }

  .address {
    margin: 5% 0;
  }
}

@media screen and (orientation: landscape) {
  .footer {

    h3 {
      margin-top: 0;
    }

    .phone {
      margin-top: 0;
    }

    .address {
      margin: 0;
    }
  }
}
