nav {
  .nav-button {
    margin-left: auto;
    padding: 0;
    margin-right: 5%;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 0;
    margin-right: -70%;
    list-style-type: none;

    li {
      padding: 0 5%;
      color: $color-primary;
    }
  }
}
@media screen and (orientation: landscape) {
  nav {
    .nav-button {
      display: none;
    }

    ul {
      width: 40%;
      max-width: 500px;
      min-width: 300px;
      margin-right: 0;
      border-bottom: 1px solid $color-primary;

      li {
        padding: 0 7%;
        color: $color-primary;
      }
    }
  }
}
