h1 {
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  color: $color-text-dark;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: $color-text-bright;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: $color-text-dark;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: $color-text-dark;
}

nav p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: $color-text-alt;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}
