.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 65vh;
  margin: 15% auto 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}
