.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
}
@media screen and (orientation: landscape) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
  }
}
