.section-1 {
  min-height: 640px;
  padding-bottom: 25px;
  @include background(1);
}

.section-2 {
  @include background(2);
}

.section-3 {
  @include background(3);
}
@media screen and (orientation: landscape) {
  .section {
    min-width: 550px;
  }

  .section-1 {
    padding-bottom: 50px;
  }
}
